body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  color: #FFFF9D;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #005085;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
  width: 500px;
  border-radius: 20px;
}

span {
  padding: 5px;
  color: #005085;
}

#header {
  background-color: #0081D5;
}

#topContacts {
  margin-top: 10px;
  float: right;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.orange-text {
  color: #005085;
}

.white-text {
  font-weight: 300;
  color: #fff;
  margin-right: 8px;
}

#name {
  color: #FFFF9D;
  margin-left: 10px;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius: 20px;
}

.welcome-message {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-left: 17px;
}

#skills-h3 {
  color: #FFFF9D;
  font-weight: 500;
  margin-bottom: -10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#education {
  margin-bottom: 150px;
}

.education-entry {
  margin-top: 2px;
  margin-bottom: 10px;
}

.education-entry a {
  margin-top: 25px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

.orange {
  background-color: #FFFF9D;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.center-content {
  padding: 2.5% 5%;
}

#lets-connect {
  text-align: center;
  background-color: #0081D5;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
